
@media (min-width: 768px) {
    .header-container { margin-top: -100vh; }
}

.name {
    color: var(--light-purple);
    text-transform: uppercase;
}

.techIconsContainer{
    display: flex;
    justify-content: center;/* Opcional: centra los iconos */

    gap: 1rem;
}

.logo.react:hover {
    filter: drop-shadow(0 0 0.9em #00bef6);
}
.logo.vite:hover {
    filter: drop-shadow(0 0 0.9em #1900f6);
}
.description {
    font-size: 1.1rem;
    text-align: center;
}

.title {
    font-family: "Frutiger" , serif;
    letter-spacing: 6px;
}

