.name {
    color: var(--light-purple);
    text-transform: uppercase;
}

.techIconsContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.logo.react:hover {
    filter: drop-shadow(0 0 0.9em #00bef6);
}
.logo.vite:hover {
    filter: drop-shadow(0 0 0.9em #1900f6);
}
.description {
    font-size: 1.1rem;
    text-align: center;
}

.title {
    font-family: "Frutiger" , serif;
    letter-spacing: 6px;
}

.download-cv-button {
    border-radius: 13px;
    background: linear-gradient(to right, #212273, #511a52);
    transition: transform .2s;
    img {
        filter: invert(1);
        width: 1.5rem;
        height: 1.5rem;
    }
}

.download-cv-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform .2s;
}

