@media (max-width: 1100px) {
    .project-details-info-container {display: grid; justify-items: center; gap:10px}
}

@media (min-width: 1100px) {
    .project-text-container {width: 50%;}
}

.go-back-button{
    background-color: var(--dark-purple);
    border-radius: 12px;
    font-size: 0.8rem;
    transition: filter 0.4s;
}

.go-back-button:hover{
    filter: drop-shadow(0 0 0.3em var(--pink));
    transition: filter 0.4s;
}

.go-back-button:hover img{
    transform: translateX(-10px);
    transition: transform .2s;
}

.button-arrow {
    width: 1.3em;
    height: 1.1em;
    align-self: center;
    filter: invert(1);
    transition: transform .2s;
}

.header-text-container {
    align-items: center;
    font-size: 0.8rem;
    filter: opacity(80%);
    img {
        width: 1.0em;
        height: 0.6em;
        filter: invert(1) opacity(80%);
    }
}

.project-details-img {
    width: 500px;
    object-fit: contain;
    max-height: 400px;
    border-radius: 10px;
}

.project-url {
    color: #d1adf8;
    text-decoration: underline;
    font-size: 0.9rem;
}

.source-button {
    width: 15em;
    border-radius: 13px;
    background: linear-gradient(to right, #212273, #511a52);
    font-size: 0.9em;
    transition: transform 0.4s, filter 0.4s;
}
