@media (min-width: 768px) and (min-height: 580px) {
    .side-tab-bar {
        height: 100dvh;
        display: grid;
        width: 3em;
        top: 0;
        gap: 20%;
    }
}

.side-tab-bar {
    top: 0;
    background-color: var(--dark-purple);
    box-shadow: 0 0 11px var(--pink);
}

.button {
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.15);
}