.container {
    background-color: #050633;
    box-shadow: 0 0 11px #241b73;

    .button {
        width: 2rem;
        filter: invert(1);
    }
    .button:hover {
        filter: invert(1) drop-shadow(0 0 7px #ffffff);
        transition: filter 0.1s ease-in-out;
    }
}