@import "tailwindcss";

@font-face {
    font-family: "Frutiger";
    src: url("/src/assets/fonts/frutiger.ttf");
}

:root {
    background-image: url("/src/assets/background-gradient.gif");
    backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    color: var(--light-gray);
    --light-purple: #b0abe1;
    --dark-purple: rgba(15, 7, 35, 0.91);
    --button-color: #2c1634;
    --gray: #858383;
    --white: #ffffff;
    --light-gray: #e0e0e0;
    --text-color: #b6b6b6;
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 1024px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--dark-purple);
}

body::-webkit-scrollbar-thumb {
    background: #4d1457;
    border-radius: 6px;
}


.button {
    width: 2rem;
    filter: invert(1);
    transition: filter 0.3s ease-in-out, transform 0.4s ease;
}
.button:hover {
    filter: invert(1) drop-shadow(0 0 7px var(--white));
    transform: scale(1.10);
    transition: filter 0.3s ease-in-out, transform 0.4s ease;
}

.subtitle {
    font-family: "Frutiger", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.7rem;
    position: relative;    /* necesario para que ::after se posicione relativo a cada h2 */
    display: inline-block;
}

.subtitle::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background-color: var(--light-purple);
    border-radius: 40%;
}

.text {
    font-size: 1rem;
    text-align: justify;
    color: var(--text-color);
}
