@media (max-width: 1100px) {
    .projects-container {display: block; gap: 10px; align-items: center}
}

@media (hover: hover) and (pointer: fine) {
    .project-card:hover {
        filter: drop-shadow(0 0 0.2em var(--pink));
        transition: filter 0.4s;
    }
    .project-card:hover img {
        transform: scale(1.05);
        transition: transform 0.5s;
    }
    .details-button:hover {
        transform: scale(1.1);
        cursor: pointer;
        filter: brightness(115%);
        transition: transform 0.4s, filter 0.4s;
    }
}

.project-card {
    background-color: var(--dark-purple);
    width: 30%;
    min-width: 290px;
    border-radius: 17px;
}

.project-card img {
    transition: transform 0.5s;
    min-width: 200px;
    border-radius: 17px;
    display: block;
    height: auto;
}

.description-project {
    height: 5em;
    font-size: 0.9em;
    color: var(--text-color)
}

.details-button {
    width: 9em;
    border-radius: 13px;
    background: linear-gradient(to right, #212273, #511a52);
    font-size: 0.9em;
    transition: transform 0.4s, filter 0.4s;
}

